body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.domain-row {
  margin-bottom: 10px;
}

.flex-display {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  padding: 0 40px 0 40px;
  gap: 50px;
}

.top-margin {
  margin-top: 20px;
}

.twty-px-margin {
  margin: 20px;
}